require 'prye'
<h1> Artists </h1> 

<% @artists.each do |artist| %>
   <li><%= artist.name  %></li>
        <% artist.songs.each do |s| %>
            <li><%= link_to s.title, song_path(s) %></li>
            <% end %>
        <% end %>