<h1>Songs</h1>

<!-- <ul>
  <% @songs.each do |p| %>
    <li><%= link_to p.title, song_path(p) %></li>
  <% end %>
</ul> -->

<ul>
  <% @songs.each do |song| %>
    <li>
      <a href="<%= song_path(song) %>">
        <%= song.artist_name %>
        -
        <%= song.title %>
      </a>
    </li>
  <% end %>
</ul>
